# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../../../../Samples/Media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=../../../../Samples/Media
FileSystem=../../../../Samples/Media/fonts
FileSystem=../../../../Samples/Media/materials/programs
FileSystem=../../../../Samples/Media/materials/scripts
FileSystem=../../../../Samples/Media/materials/textures
FileSystem=../../../../Samples/Media/models
FileSystem=../../../../Samples/Media/overlays
FileSystem=../../../../Samples/Media/particle
FileSystem=../../../../Samples/Media/gui
FileSystem=../../../../Samples/Media/DeferredShadingMedia
Zip=../../../../Samples/Media/packs/cubemap.zip
Zip=../../../../Samples/Media/packs/cubemapsJS.zip
Zip=../../../../Samples/Media/packs/dragon.zip
Zip=../../../../Samples/Media/packs/fresneldemo.zip
Zip=../../../../Samples/Media/packs/ogretestmap.zip
Zip=../../../../Samples/Media/packs/skybox.zip


