*.file filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
OgreMain filter=lfs diff=lfs merge=lfs -text
PlugIns filter=lfs diff=lfs merge=lfs -text
SDK filter=lfs diff=lfs merge=lfs -text
appveyor.yml filter=lfs diff=lfs merge=lfs -text
BuildingOgre.md filter=lfs diff=lfs merge=lfs -text
FirstScene.exe filter=lfs diff=lfs merge=lfs -text
Media filter=lfs diff=lfs merge=lfs -text
Tools filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
CMake filter=lfs diff=lfs merge=lfs -text
Other filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Tests filter=lfs diff=lfs merge=lfs -text
builds filter=lfs diff=lfs merge=lfs -text
ci-build.cmake filter=lfs diff=lfs merge=lfs -text
pyproject.toml filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
Docs filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
setup.py filter=lfs diff=lfs merge=lfs -text
_clang-format filter=lfs diff=lfs merge=lfs -text
Components filter=lfs diff=lfs merge=lfs -text
RenderSystems filter=lfs diff=lfs merge=lfs -text
Samples filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
