# Ignore CLion project directory and iml files
.idea/
*.iml

# Ignore build directories
cmake-build-*/
/build/
/installed/
/android-build/
/embuild/
/eminstall/
/mingw/
build32
build64

# Meta data of macOS's Finder.app
.DS_Store

/Samples/Media/RTShaderLib/cache/

# Ignore vim files
*.swp

# Python build files
Components/Python/build
Components/Python/dist
Components/Python/ogre.egg-info

