<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>org.ogre3d.iosApplication</string>
	<key>Description</key>
	<string>This template builds an Ogre based project for iOS using the Basic Ogre Framework.</string>
	<key>Concrete</key>
	<true/>
    <key>Platforms</key>
    <array>
        <string>com.apple.platform.iphoneos</string>
    </array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Type</key>
			<string>text</string>
        </dict>
		<dict>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Use the OpenGL ES 2.0 RenderSystem</string>
			<key>Identifier</key>
			<string>ogreUseGLES2</string>
			<key>Name</key>
			<string>Use OpenGL ES 2.0</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>HEADER_SEARCH_PATHS</key>
									<string>"$(OGRE_SDK_ROOT)/include/OGRE" "$(OGRE_SDK_ROOT)/include/OGRE/RenderSystems/GLES" "$(OGRE_SDK_ROOT)/include/OGRE/iOS" "$(OGRE_SDK_ROOT)/include" "$(OGRE_SDK_ROOT)/include/OIS" "$(OGRE_SDK_ROOT)/iOSDependencies/include"</string>
									<key>OTHER_LDFLAGS</key>
									<string>-lOIS -lOgreMainStatic -lRenderSystem_GLESStatic -lboost_system -lboost_chrono -lboost_date_time -lboost_thread -lFreeType -lFreeImage -lzzip -lz</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
				<key>true</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>HEADER_SEARCH_PATHS</key>
									<string>"$(OGRE_SDK_ROOT)/include/OGRE" "$(OGRE_SDK_ROOT)/include/OGRE/Overlay" "$(OGRE_SDK_ROOT)/include/OGRE/RenderSystems/GLES2" "$(OGRE_SDK_ROOT)/include/OGRE/RTShaderSystem" "$(OGRE_SDK_ROOT)/include/OGRE/iOS" "$(OGRE_SDK_ROOT)/include" "$(OGRE_SDK_ROOT)/include/OIS" "$(OGRE_SDK_ROOT)/iOSDependencies/include"</string>
									<key>OTHER_CFLAGS</key>
									<string>-DOGRE_USE_GLES2=1</string>
									<key>OTHER_LDFLAGS</key>
									<string>-lOIS -lOgreMainStatic -lOgreOverlayStatic -lRenderSystem_GLES2Static -lOgreRTShaderSystemStatic -lglsl_optimizer -lboost_system -lboost_chrono -lboost_date_time -lboost_thread -lFreeType -lFreeImage -lzzip -lz</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Use libc++ as the C++ Standard Library</string>
			<key>Identifier</key>
			<string>ogreUseLibcpp</string>
			<key>Name</key>
			<string>Use libc++</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>CLANG_CXX_LIBRARY</key>
									<string>libstdc++</string>
									<key>CLANG_CXX_LANGUAGE_STANDARD</key>
									<string>gnu++98</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
				<key>true</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>CLANG_CXX_LIBRARY</key>
									<string>libc++</string>
									<key>CLANG_CXX_LANGUAGE_STANDARD</key>
									<string>c++0x</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>*:*:importCocoa</key>
		<string>#import &lt;UIKit/UIKit.h&gt;
		</string>
		<key>*:shouldAutorotateToInterfaceOrientation</key>
		<string>/*
 // Override to allow orientations other than the default portrait orientation.
- (BOOL)shouldAutorotateToInterfaceOrientation:(UIInterfaceOrientation)interfaceOrientation {
	// Return YES for supported orientations.
	return (interfaceOrientation == UIInterfaceOrientationPortrait);
}
 */
		</string>
		<key>*:import:*</key>
		<string>#import &quot;___*___&quot;
</string>
		<key>___PACKAGENAME___-Prefix.pch</key>
		<dict>
			<key>Beginning</key>
			<string>//
// Prefix header for all source files of the &apos;___PACKAGENAME___&apos; target in the &apos;___PACKAGENAME___&apos; project
//
</string>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch:objC</key>
		<dict>
			<key>Beginning</key>
			<string>#ifdef __OBJC__</string>
			<key>End</key>
			<string>#endif</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>en.lproj/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
		</dict>
		<key>en.lproj/InfoPlist.strings</key>
		<string>/* Localized versions of Info.plist keys */</string>
		<key>___PACKAGENAME___-Info.plist</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
</string>
			<key>End</key>
			<string>&lt;/dict&gt;
&lt;/plist&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>TargetIndices</key>
			<array/>
			<key>SubstituteMacros</key>
			<true/>
		</dict>
		<key>___PACKAGENAME___-Info.plist</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
</string>
			<key>End</key>
			<string>&lt;/dict&gt;
&lt;/plist&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>TargetIndices</key>
			<array/>
			<key>SubstituteMacros</key>
			<true/>
		</dict>
		<key>___PACKAGENAME___-Info.plist:CFBundleIdentifier</key>
		<string>&lt;key&gt;CFBundleIdentifier&lt;/key&gt;
&lt;string&gt;___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.${PRODUCT_NAME:rfc1034identifier}&lt;/string&gt;
        </string>
		<key>___PACKAGENAME___-Info.plist:NSHumanReadableCopyright</key>
		<string>&lt;key&gt;NSHumanReadableCopyright&lt;/key&gt;
&lt;string&gt;Copyright © ___YEAR___ ___ORGANIZATIONNAME___. All rights reserved.&lt;/string&gt;
        </string>
		<key>___PACKAGENAME___-Info.plist:UIStatusBarHidden</key>
		<string>&lt;key&gt;UIStatusBarHidden&lt;/key&gt;
&lt;true/&gt;</string>
		<key>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:*</key>
		<string>#import &lt;Availability.h&gt;

#ifndef __IPHONE____*____0
#warning "This project uses features only available in iOS SDK ___*___.0 and later."
#endif
</string>
		<key>___PACKAGENAME___-Info.plist:Basics</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;en&lt;/string&gt;
&lt;key&gt;CFBundleExecutable&lt;/key&gt;
&lt;string&gt;${EXECUTABLE_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
&lt;string&gt;6.0&lt;/string&gt;
&lt;key&gt;CFBundleName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;APPL&lt;/string&gt;
&lt;key&gt;CFBundleSignature&lt;/key&gt;
&lt;string&gt;????&lt;/string&gt;
</string>
		<key>___PACKAGENAME___-Info.plist:iPhone</key>
		<string>&lt;key&gt;CFBundleIconFiles&lt;/key&gt;
&lt;array/&gt;
&lt;key&gt;CFBundleDisplayName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;
&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;
&lt;array&gt;
	&lt;string&gt;armv7&lt;/string&gt;
&lt;/array&gt;</string>
		<key>main.mm</key>
		<dict>
			<key>Path</key>
			<string>main.mm</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>Group</key>
			<string>Basic Ogre Framework</string>
		</dict>
		<key>OgreDemoApp.cpp</key>
		<dict>
			<key>Path</key>
			<string>OgreDemoApp.cpp</string>
			<key>Group</key>
			<string>Basic Ogre Framework</string>
		</dict>
		<key>OgreDemoApp.h</key>
		<dict>
			<key>Path</key>
			<string>OgreDemoApp.h</string>
			<key>Group</key>
			<string>Basic Ogre Framework</string>
		</dict>
		<key>OgreFramework.cpp</key>
		<dict>
			<key>Path</key>
			<string>OgreFramework.cpp</string>
			<key>Group</key>
			<string>Basic Ogre Framework</string>
		</dict>
		<key>OgreFramework.h</key>
		<dict>
			<key>Path</key>
			<string>OgreFramework.h</string>
			<key>Group</key>
			<string>Basic Ogre Framework</string>
		</dict>
		<key>OgreStaticPluginLoader.h</key>
		<dict>
			<key>Path</key>
			<string>OgreStaticPluginLoader.h</string>
			<key>Group</key>
			<string>Basic Ogre Framework</string>
		</dict>
		<key>media</key>
		<dict>
			<key>Path</key>
			<string>media</string>
			<key>Group</key>
			<string>Resources</string>
			<key>PathType</key>
			<string>ProjectDir</string>
            <key>TargetIndices</key>
            <array/>
		</dict>
		<key>ogre.cfg</key>
		<dict>
			<key>Path</key>
			<string>ogre.cfg</string>
			<key>Group</key>
			<string>Resources</string>
		</dict>
		<key>plugins.cfg</key>
		<dict>
			<key>Path</key>
			<string>plugins.cfg</string>
			<key>Group</key>
			<string>Resources</string>
		</dict>
		<key>resources.cfg</key>
		<dict>
			<key>Path</key>
			<string>resources.cfg</string>
			<key>Group</key>
			<string>Resources</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importCocoa</string>
		<string>___PACKAGENAME___-Info.plist:CFBundleIdentifier</string>
		<string>___PACKAGENAME___-Info.plist:NSHumanReadableCopyright</string>
		<string>___PACKAGENAME___-Info.plist:Basics</string>
		<string>___PACKAGENAME___-Info.plist:iPhone</string>
		<string>___PACKAGENAME___-Info.plist:UIStatusBarHidden</string>
		<string>en.lproj/InfoPlist.strings</string>
		<string>main.mm</string>
		<string>AppDelegate.h</string>
		<string>OgreDemoApp.cpp</string>
		<string>OgreDemoApp.h</string>
		<string>OgreFramework.cpp</string>
		<string>OgreFramework.h</string>
		<string>OgreStaticPluginLoader.h</string>
		<string>media</string>
		<string>ogre.cfg</string>
		<string>plugins.cfg</string>
		<string>resources.cfg</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
            <key>Debug</key>
            <dict>
                <key>COPY_PHASE_STRIP</key>
                <string>NO</string>
            </dict>
            <key>Release</key>
            <dict>
                <key>COPY_PHASE_STRIP</key>
                <string>YES</string>
                <key>DEBUG_INFORMATION_FORMAT</key>
                <string>dwarf-with-dsym</string>
            </dict>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
            <key>PRODUCT_NAME</key>
            <string>$(TARGET_NAME)</string>
            <key>INFOPLIST_FILE</key>
            <string>___PACKAGENAME___/___PACKAGENAME___-Info.plist</string>
            <key>GCC_PREFIX_HEADER</key>
            <string>___PACKAGENAME___/___PACKAGENAME___-Prefix.pch</string>
            <key>GCC_PRECOMPILE_PREFIX_HEADER</key>
            <string>YES</string>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>GCC_THUMB_SUPPORT</key>
			<string></string>
			<key>GCC_INLINES_ARE_PRIVATE_EXTERN</key>
			<string>No</string>
			<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
			<string>No</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<string>"$(OGRE_SDK_ROOT)/lib/Release" "$(OGRE_SDK_ROOT)/iOSDependencies/lib/release" "$(OGRE_SDK_ROOT)/iOSDependencies/lib"</string>
            <key>WRAPPER_EXTENSION</key>
            <string>app</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
<!-- 
			 <dict>
                <key>Class</key>
                <string>CopyFiles</string> <!~~ Add Build Phase Copy File ~~>
                <key>DstPath</key>
                <string/>
                <key>DstSubfolderSpec</key>
                <string>13</string> <!~~ Plugins ~~>
                <key>RunOnlyForDeploymentPostprocessing</key>
                <string>NO</string>
            </dict>
			 <dict>
                <key>Class</key>
                <string>CopyFiles</string> <!~~ Add Build Phase Copy File ~~>
                <key>DstPath</key>
                <string/>
                <key>DstSubfolderSpec</key>
                <string>10</string> <!~~ Frameworks ~~>
                <key>RunOnlyForDeploymentPostprocessing</key>
                <string>NO</string>
	            </dict>
			 <dict>
                <key>Class</key>
                <string>CopyFiles</string> <!~~ Add Build Phase Copy File ~~>
                <key>DstPath</key>
                <string>media</string>
                <key>DstSubfolderSpec</key>
                <string>7</string> <!~~ Resources ~~>
                <key>RunOnlyForDeploymentPostprocessing</key>
                <string>NO</string>
            </dict>
 -->
            				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string># This shell script simply copies resources into their respective locations
ditto &quot;$PROJECT_DIR/$PROJECT_NAME/media/&quot; &quot;$BUILT_PRODUCTS_DIR/___PACKAGENAME___.app/media/&quot;
ditto $PROJECT_DIR/$PROJECT_NAME/*.cfg &quot;$BUILT_PRODUCTS_DIR/___PACKAGENAME___.app/&quot;
</string>
				</dict>

			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>Frameworks</key>
			<array>
				<string>CoreGraphics</string>
				<string>Foundation</string>
				<string>OpenGLES</string>
				<string>QuartzCore</string>
				<string>UIKit</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
