<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Definitions</key>
	<dict>
		<key>*:*:importCocoa</key>
		<string>#import &lt;UIKit/UIKit.h&gt;
</string>
		<key>*:shouldAutorotateToInterfaceOrientation</key>
		<string>/*
 // Override to allow orientations other than the default portrait orientation.
- (BOOL)shouldAutorotateToInterfaceOrientation:(UIInterfaceOrientation)interfaceOrientation {
	// Return YES for supported orientations.
	return (interfaceOrientation == UIInterfaceOrientationPortrait);
}
 */
</string>
		<key>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</key>
		<string>&lt;key&gt;UISupportedInterfaceOrientations~ipad&lt;/key&gt;
&lt;array&gt;
	&lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationPortraitUpsideDown&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;</string>
		<key>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</key>
		<string>&lt;key&gt;UISupportedInterfaceOrientations&lt;/key&gt;
&lt;array&gt;
     &lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;</string>
	</dict>
	<key>Identifier</key>
	<string>org.ogre3d.iOSBase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFoundation</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
			<key>GCC_VERSION</key>
			<string>com.apple.compilers.llvm.clang.1_0</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
		</dict>
	</dict>
</dict>
</plist>
