Example/DP3Overlay
{
	zorder 500
	// Stats block
	container BorderPanel(Core/DP3Panel)
	{
		metrics_mode pixels
		vert_align top
		left 5 
		top 5
		width 500
		height 70
		material Core/StatsBlockCenter
        	border_size 1 1 1 1
        	border_material Core/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		element TextArea(Example/DP3/Light)
		{
			metrics_mode pixels
			left 5
			top 5
			width 180
			height 30
			font_name BlueHighway
			char_height 16
			caption [1,2,3] toggle lights
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}

		element TextArea(Example/DP3/Object)
		{
			metrics_mode pixels
			left 5
			top 20
			width 180
			height 30
			font_name BlueHighway
			char_height 16
			caption [O] change objects
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Example/DP3/ObjectInfo)
		{
			metrics_mode pixels
			left 155
			top 20
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption Current:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}

		element TextArea(Example/DP3/Materials)
		{
			metrics_mode pixels
			left 5
			top 35
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption [M] Change material
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Example/DP3/MaterialInfo)
		{
			metrics_mode pixels
			left 155
			top 35
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption Current:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Example/DP3/Info)
		{
			metrics_mode pixels
			left 5
			top 50
			width 250
			height 30
			font_name BlueHighway
			char_height 16
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
	}
}
