<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>Description</key>
	<string>An Objective-C class file that targets iOS, with an optional header which is a class that provides a basic skeleton for an Ogre application.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.mm</string>
	<key>Summary</key>
	<string>An Objective-C class file that targets iOS, with an optional header which is a class that provides a basic skeleton for an Ogre application.</string>
</dict>
</plist>
