# Resources required by the sample browser and most samples.
[Essential]
Zip=sdkTrays.zip
FileSystem=.

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=.
Zip=cubemap.zip
Zip=cubemapsJS.zip
Zip=dragon.zip
Zip=fresneldemo.zip
Zip=ogretestmap.zip
Zip=ogredance.zip
Zip=Sinbad.zip
Zip=skybox.zip

[General]
FileSystem=.

