name: PIP packages
on:
  push:
    tags: ["v*"]
env:
  TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
  TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
jobs:
  linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Docker Image
      run: docker build SDK -t pypi
    - name: Build
      run: |
        docker run -e PYVER=cp310-cp310 --rm -v `pwd`:/workspace pypi
        f=`ls *.whl`
        mv $f ${f/linux/manylinux2014}
        pip3 install twine
        python -m twine upload --repository pypi *.whl
  windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        toolset: 14.1
    - uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install Dependencies
      run: |
        choco install swig -y # need swig 4+ for python 3.8
        curl -LO https://sdk.lunarg.com/sdk/download/1.3.224.1/windows/VulkanSDK-1.3.224.1-Installer.exe
        .\VulkanSDK-1.3.224.1-Installer.exe --accept-licenses --default-answer --confirm-command install
    - name: Build
      run: |
        python -m pip install --upgrade pip==22.0.4
        pip install setuptools wheel twine
        pip wheel . --verbose
        python -m twine upload --repository pypi *.whl
      env:
        VULKAN_SDK: C:\VulkanSDK\1.3.224.1
  macos:
    runs-on: macos-11
    steps:
    - name: Install Dependencies
      run: brew update && brew install swig
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Build
      run: |
        pip install setuptools wheel twine
        pip wheel . --verbose
        python -m twine upload --repository pypi *.whl